{% extends 'layout.html' %}
{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/magical-powers",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>


{% from "textarea/macro.njk" import textarea %}

        {{ textarea({
          name: "example",
          id: "example",
          label: {
            text: "Can you provide more detail about your symptoms?",
            size: "l",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, if you are floating in mid air or can move objects with your mind"
          }
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}