{% extends 'layout.html' %}
{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/do-you-know-NWC-answer" method="post" novalidate>

        {{ radios({
          name: "doYouKnowNWC",
          value: data.doYouKnowNWC,
          fieldset: {
            legend: {
              text: "Do you know your National Wizardry Council number?",
              size: "l",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
            },
          hint: {
    text: "Conjure up one option"
  },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "I'm not sure",
              text: "I'm not sure"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

