{% extends 'layout.html' %}
{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Sorry, you can't have this test</h1>

      <p>
        This is because you are just not magical enough.
      </p>
        <p><h2 class="nhsuk-heading-m">Next steps</h2> </p>
        <p>To improve your magicality to the levels needed to get a test, you can: </p>
        <p><ul>
        <li> make sure you're eating at least 500g of glitter each day
        <li> attend gremlin classes
        <li> take a bath filled with lightning bolts</ul></p>

        <p>If you follow these steps, you should be eligible for a test within 6 to 8 weeks.

    </div>
  </div>
{% endblock %}